@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .markdown h1 {
    @apply mb-8 mt-16 text-4xl font-extrabold text-gray-200;
  }
  .markdown h2 {
    @apply mb-4 mt-8 text-2xl font-extrabold text-gray-200;
  }
  .markdown h3 {
    @apply mb-3 mt-6 text-xl font-extrabold text-gray-200;
  }
  .markdown h4 {
    @apply mb-3 mt-4 text-xl font-extrabold text-gray-200;
  }
  .markdown h5 {
    display: block;
    font-size: 0.83em;
    margin-top: 1.67em;
    margin-bottom: 1.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
  }
  .markdown h6 {
    display: block;
    font-size: 0.67em;
    margin-top: 2.33em;
    margin-bottom: 2.33em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
  }

  .markdown p {
    @apply my-3;
  }

  .markdown blockquote {
    margin: 2rem 0px;
    border-left: 4px solid #63e6be;
    padding: 1rem 1rem 1rem 1.85rem;
    @apply bg-gray-900;
  }
}
